<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <% if @purchases.include?(@item.id) %>
      <div class='item-img-content'>
        <% @item.images.each do |image| %>
          <div class='sold-out'>
            <%= image_tag image, class: "item-box-img" %>
            <span>Sold Out!!</span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class='item-img-content'>
          <% @item.images.each do |image| %>
            <%= image_tag image, class: "item-box-img" %>
          <% end %>
      </div>
    <% end %>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.shipping_fee.burden %>
      </span>
    </div>

    <% if user_signed_in? %>
      <% unless @purchases.include?(@item.id) %>
        <% if current_user.id == @item.user_id %>
          <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
        <% else %>
          <%= link_to "購入画面に進む", item_orders_path(@item) ,class:"item-red-btn"%>
        <% end %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.info %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.genre %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.sales_status.status %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_fee.burden %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.scheduled_delivery.days %></td>
        </tr>
        <tr>
          <th class="detail-item">商品タグ</th>
          <td class="detail-value"><%= @tag %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comments-box">
    <div class="comment-box">
      <h4>＜コメント一覧＞</h4>
      <div class="comment-area">
        <% @comments.reverse_each do |comment| %>
          <div id="comments" class="comment-field">
            <div id="user_name" class="user-name">
              <%= comment.user.nickname %>
            </div>
            <div id="comment" class="comment">
              <%= comment.text %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= form_with model: [@item, @comment], local: true do |f| %>
        <%= f.text_area :text, class: "comment-text", placeholder: "コメントを入力してください" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <button type="submit" class="comment-btn">
          <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25" %>
          <span><%= f.submit "コメントする", class: "comment-btn2" %><span>
        </button>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  
  <a href="#" class="another-item"><%= @item.category.genre %>をもっと見る</a>
  
</div>

<%= render "shared/footer" %>
